// TODO: add resets

.review-container {
  //border: 1px dashed red;
  width: 50%;
  .review-header {
    display: flex;
    justify-content: space-around;

    .review-portrait {
      display: inline-block;
    }

    .review-rating {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .review-author {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .rating-container {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        //display: inline-block;
        height: 24px; // 48px;
        width: 130px; // 260px;

        img { // size: 260 x 48
          position: absolute;
          width: 100%;
          height: 100%;

          //height: 24px; // 48px;
          //width: 130px; // 260px;

          &.rating-1 {
            z-index: 1;
          }
        }
      }

    }
  }

  .review-title {
    text-align: center;
    margin: 10px;
  }

  .review-body {
    font-size: 13px;
    text-align: center;
    //margin: 10px;
  }
}

* {
  //border: 1px solid red;
}