// TODO: add resets
@import "mixins";

$containers-per-row: 4;
$font-stack: Helvetica Neue,Arial,Helvetica,sans-serif;

.widget-container {
  display: flex;

  .review-container {
    //border: 1px dashed red;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 1s;

    width: 100% / $containers-per-row;
    .review-header {
      display: flex;
      justify-content: space-around;

      .review-portrait {
        display: inline-block;
      }

      .review-rating {
        @include flexbox-with-centered-contents;
        flex-wrap: wrap;

        .review-author {
          width: 100%;
          @include flexbox-with-centered-contents;
          font-family: $font-stack;
        }

        .rating-container {
          cursor: pointer;

          position: relative;
          height: 24px; // 48px;
          width: 130px; // 260px;

          img { // size: 260 x 48
            position: absolute;
            width: 100%;
            height: 100%;

            &.rating-1 {
              z-index: 1;
            }
          }
        }

      }
    }

    .review-title {
      font-family: $font-stack;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      margin: 10px;
    }

    .review-body {
      font-family: $font-stack;
      font-size: 14px;
      text-align: center;
    }
  }
}

* {
  border: 1px solid red;
}